project:
  type: website
  output-dir: docs

website:
  title: "PSDV Assignment 4"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - href: blog.qmd
        text: Blog

format:
  html:
    theme: darkly
    mainfont: "Roboto"
    code-copy: true
    code-overflow: wrap
    css: styles.css 

execute:
  freeze: auto
